@use 'sass:color';
@use 'sass:map';
@use '../colors.scss';
@use '../base.scss';

$department_map: (
  'Assistant': var(--color-gray),
  'Captain': colors.fg(var(--color-blue)),
  'Cargo': var(--color-brown),
  'Command': var(--color-yellow),
  'Security': var(--color-red),
  'Engineering': hsl(from var(--color-orange) h s calc(l + 7.5)),
  'Medical': var(--color-teal),
  'Science': colors.fg(var(--color-purple)),
  'Service': var(--color-green),
  'Silicon': var(--color-pink),
  // DARKPACK EDIT ADD START
  'Prince': var(--color-orange),
  'Camarilla': var(--color-gold),
  'Anarch': var(--color-bad),
  'Church': var(--color-gray),
  'Chantry': var(--color-purple),
  'Clinic': var(--color-teal),
  'Warehouse': var(--color-brown),
  'Strip_Club': var(--color-violet),
  'Police': var(--color-blue),
  'Giovanni': var(--color-green),
  'Manor': var(--color-violet),
  'Sabbat': var(--color-grey),
  'Citizen': var(--color-light-grey),
  'City_Services': var(--color-white),
  'Garou_Nation': var(--color-olive),
  'Pentex': var(--color-green), // DARKPACK EDIT ADD END
);

.ChoicedSelection {
  padding: var(--space-m);
  background-color: var(--color-base);
  box-shadow: 0 0.5em 1em hsla(0, 0%, 0%, 0.5);
}

.PreferencesMenu {
  &__Antags {
    &__antagSelection {
      gap: var(--space-l);

      @mixin animate-hover {
        .antagonist-icon-parent .antagonist-icon {
          &:hover {
            transform: scale(1.3);
            transition: transform var(--transition-time-fast) ease-out;
          }
        }
      }

      &__antagonist {
        .antagonist-icon-parent {
          cursor: var(--cursor-pointer);
          border-style: solid;
          border-radius: var(--border-radius-circular);
          border-width: var(--border-thickness-large);
          box-sizing: content-box;
          overflow: hidden;
          position: relative;

          height: 96px;
          width: 96px;

          .antagonist-icon {
            image-rendering: pixelated;
            border-radius: var(--border-radius-circular);
            overflow: hidden;
            transition: transform var(--transition-time-fast) ease-in;
          }
        }

        &--off {
          @include animate-hover;

          .antagonist-icon-parent {
            border-color: var(--color-red);

            .antagonist-icon {
              opacity: 0.5;

              &:hover {
                opacity: 1;
              }
            }
          }
        }

        &--on {
          @include animate-hover;

          .antagonist-icon-parent {
            border-color: var(--color-green);
          }
        }

        &--banned {
          .antagonist-icon-parent {
            border-color: var(--color-grey);
          }

          .antagonist-icon {
            opacity: 0.5;
          }
        }

        .antagonist-banned-slash {
          background: var(--color-grey);

          width: 100%;
          height: 3px;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%) rotate(35deg);

          opacity: 0.8;
        }

        .antagonist-days-left {
          text-align: center;
          text-shadow: 1px 1px 1px hsl(0, 0%, 13.3%);

          width: 100%;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
      }
    }
  }

  &__Jobs {
    > * {
      flex: 1;
    }

    &__departments {
      @each $department-name, $color-value in $department_map {
        &--#{$department-name} {
          &.head {
            background: $color-value;

            .job-name {
              font-weight: bold;
            }
          }

          background: colors.fg($color-value);
          border: var(--border-thickness-small) outset colors.fg($color-value);
          color: black;

          > * {
            height: calc(100% + 0.2em);
            padding-bottom: 0.2em;
          }

          .options {
            margin-right: var(--space-xxs);
            background: hsla(0, 0%, 0%, 0.2);
            height: 100%;
          }
        }

        &--Captain {
          border: var(--border-thickness-medium)
            outset
            hsla(60, 100%, 39.2%, 1);

          &:first-child {
            border-top: var(--border-thickness-medium)
              outset
              hsla(60, 100%, 39.2%, 1);
          }

          .job-name {
            font-size: 17px;
          }
        }
      }

      &__priority {
        border: var(--border-thickness-tiny) solid hsla(0, 0%, 0%, 0.3);

        &--off::after {
          content: '';

          background: hsla(0, 0%, 0%, 0.2);
          display: block;
          height: 80%;
          left: 50%;
          position: relative;
          top: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(40deg);
          width: 2px;
        }
      }
    }

    &__PriorityHeader {
      font-weight: bold;
      transform: translateX(-4px) translateY(-8px) rotate(315deg);
      white-space: nowrap;
      width: 19px;
    }
  }

  &__Quirks {
    &__QuirkList {
      scrollbar-color: var(--color-grey) transparent;
      background-color: var(--color-light-grey);
      width: 100%;
      overflow-x: hidden;
      overflow-y: scroll;

      &__quirk {
        cursor: var(--cursor-pointer);
        background-color: var(--color-white);
        border-bottom: var(--border-thickness-tiny) solid var(--color-black);
        color: hsl(0, 0%, 6.7%);
        transition: background-color var(--transition-time-fast) ease-in;

        $quality_map: (
          'positive': var(--color-green),
          'neutral': var(--color-white),
          'negative': var(--color-red),
        );

        @each $quality, $color-value in $quality_map {
          &--#{$quality} {
            background-color: $color-value;
            transition: background-color var(--transition-time-fast) ease-in;
          }
        }

        &:hover {
          background-color: var(--color-grey);
          transition: background-color var(--transition-time-fast) ease-out;

          @each $quality, $color-value in $quality_map {
            .PreferencesMenu__Quirks__QuirkList__quirk--#{$quality} {
              background-color: hsl(from $color-value h s calc(l - 10));
              transition: background-color var(--transition-time-fast) ease-out;
            }
          }
        }
      }
    }
  }

  // DARKPACK EDIT ADD START
  &__Stats {
    // background-color: var(--color-base);
    padding: var(--space-m);
    overflow-y: auto;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      b {
        color: var(--color-red);
        font-size: 1.1rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }

      .reset-button {
        background: transparent;
        border: var(--border-thickness-small) solid var(--color-red);
        color: var(--color-red);
        padding: 0.25em 0.5em;
        border-radius: var(--border-radius-medium);
        cursor: var(--cursor-pointer);
        transition: background var(--transition-time-fast) ease-in-out;

        &:hover {
          background: var(--color-red);
          color: var(--color-white);
        }
      }
    }

    &__category {
      margin-top: var(--space-l);
      padding-top: var(--space-xs);
      border-top: var(--border-thickness-tiny) solid hsla(0, 0%, 100%, 0.1);

      > b {
        color: var(--color-red);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.05em;
      }

      &__subcategory {
        margin-left: var(--space-m);
        margin-top: var(--space-xs);

        > i {
          color: var(--color-grey);
        }
        > .Stack {
          display: grid !important;
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }
        .stat {
          align-items: center;

          .stat-label {
            color: var(--color-white);
            flex: 1;
            text-shadow: 0 0 2px hsla(0, 0%, 100%, 0.1);
          }

          .stat-dots {
            font-family: monospace;
            font-size: 1.1em;
            letter-spacing: 2px;

            .filled {
              color: var(--color-red);
            }
          }
        }
      }
    }
  }
  // DARKPACK EDIT ADD END
}
